*{
    background-color: red;
    /* bintang ini merupakan universal selector, yang berarti semua elemen akan memiliki backgrouncd
    color brwarna merah */
}
h1,h2,h3,p,ul{
    color: aquamarine;
}
#list{
    /* # digunakan untuk memanggil selector bertipe id */
    color: chartreuse;
}
.tulisan{
    /* . digunakan untuk memanggil selector bertipe class */
    color: blue;
}
.cttan p{
    /* disini kita akan mengubah p yang ada didalam section class cttan, istilah sperti ini disebut
    descendant selector, jdi p yang berada diluar section cttan tidak akan terganti */
    color: yellow;
}
.cttan > p{
    color: aqua;
    /* nah disini kita menggunakan DIRECT SELECTOR dngn menambahkan > itu artinya kita memilih elemen p
    yang brada di class cttan dan hanya berada di satu level yang berbeda */
}

a + button{
    background-color: black;
    color: whitesmoke;
    /* dngn bgini kita menggunankan AJDACENT SELECTOR itu artinya kita menggubah button apapun
    setelah elemen link, krena dilihat button sebelum elemen a/link tidak mengalami perubahan smaa
    sekali */
}
input[type='password']{
    color: chartreuse;
    /* dngn begini kita akan membuat input dngn type text akan kita ubah isi nya atau ketikan nya
    berwarna sesuai yang kita inginkan */
}
button:hover{
    color: blue;
    /* HOVER, adlah pseudo class yang dapat mengubah sesuatu hal yang telah kita edit melalui css
    dngn syarat ketika kita mengarahkan pointer atau mouse kita kearea, suatu hal atau elemen yang 
    kita tambhkan pseudo classes
    
    Nah di bagian ini ketika kita mengarahkan mouse pada button maka tulisan nya akan berubah menjadi
    warna biru*/
    cursor: pointer;
    font-size: larger;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cttan:nth-of-type(1n){
    background-color: darkcyan;
}
input[type="checkbox"]:checked{
    box-shadow: 0 0 0 3px greenyellow;
}
input:checked+label{
    color: greenyellow;
}
/* contoh kita membuat input yang ketika di check akan merubah checkbox dan label nya */
