/* External Stylesheet */
h3{
    color: aquamarine;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: aqua;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button, p{
    /* nah dngn menggunakan koma (,) kalian bisa menambahkan elemen apalagi yang akan diubah style nya
    jika elemen tersebut ingin memiliki style yg sama itu akan mempermudah kalian, jadi tidak harus membuat
    style yang baru dngn elemen yang baru */
    color: green;
    background-color: darkkhaki;
    /* nah kalau background color, sperti namanya kita akan mengubah warna background dari elemen tersebut */
}